
#wanderings{
    font-family: "Playfair Display", serif;
    font-size: var(--text-maths-heading);
    color: var(--text);
    font-weight: 400;
    text-align: center;
}
.wander{
    display: grid;
    grid-template-columns:0.5fr;
}
@media(max-width: 768px){
    .wander{
        grid-template-columns: 1fr;
    }
}
.mathCard{
    background-color:var(--accent2);
    border-radius: 18px;
    border-color: var(--accent2-light);
    

}
.cardTitle{
    max-width: var(--width-card-text);
    font-family:"Helvetica Neue", Helvetica, sans-serif ;
    font-size: var(--text-maths-card-title);
    color: var(--bg);
    padding:1rem;
    margin: 0;
   
    padding-bottom: 0;
    max-width: var(--width-card-title);
    text-align: left;
}
.cardDesc{
    max-width: var(--width-card-text);
    font-family:"Playfair Display", serif;
    font-size: var(--text-card-body);
    color: var(--bg);
    padding-left:2rem;
    margin: 0;
    padding-bottom: 0;
}
.cardLink{
    color: var(--bg);
    font-size: var(--text-card-link);
    text-align: center;

    padding-left: 5%;
}

