
#wanderings{
    font-family: "Playfair Display", serif;
    font-size: clamp(1.5rem, 5vw, 2.6rem);
    color: var(--text);
    font-weight: 400;
    text-align: center;
}
.wander{
    display: grid;
    grid-template-columns:0.5fr;
}
@media(max-width: 768px){
    .wander{
        grid-template-columns: 1fr;
    }
}
.mathCard{
    background-color:var(--accent2);
    border-radius: 18px;
    border-color: var(--accent2-light);
    

}
.cardTitle{
    max-width: 30ch;
    font-family:"Helvetica Neue", Helvetica, sans-serif ;
    font-size: clamp(1rem, 2.2vw, 3rem);
    color: var(--bg);
    padding:1rem;
    margin: 0;
   
    padding-bottom: 0;
    max-width: 35ch;
    text-align: left;
}
.cardDesc{
    max-width: 30ch;
    font-family:"Playfair Display", serif;
    font-size:clamp(1rem,1.5vw,2rem);
    color: var(--bg);
    padding-left:2rem;
    margin: 0;
    padding-bottom: 0;
}
.cardLink{
    color: var(--bg);
    font-size:clamp(0.7rem,1.5vw,2rem);
    text-align: center;

    padding-left: 5%;
}

