/*Some tokens for quick use*/
:root{
    /* Colors */
    --bg: #FFFAEF;
    --text: #00143A;
    --accent: #E74C3C;
    --accent2:#3C3F0E;

    /* Typography */
    --text-sm: 0.9rem;
    --text-base: 1rem;
    --text-lg: 1.5rem;
    --text-xl: clamp(2rem, 4vw, 3.5rem);

    /* Spacing */
    --space-xs: .5rem;
    --left-spacing: 2%;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --space-xl: 8rem;

    /* Radius */
    --radius: 12px;
}
body{
    background-color:var(--bg);
    margin: 0;
}

#logoText{
    padding-left:var(--left-spacing) ;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: var(--accent);
    font-size: clamp(1rem, 4vw, 2rem);
    margin-bottom: clamp(0.2rem, 0.5vw, 1rem);
    margin-top: clamp(0.2rem, 0.5vw, 1rem);
}
h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color:var(--accent);
}

#heroImage{
     width: 100%;
    height: auto;
}
#heroText{
    font-family: "Playfair Display", serif;
    font-size: clamp(2rem, 5vw, 5rem);
    color:var(--text) ;
    padding-left: var(--left-spacing);
}
.hero {
    margin: 0rem;
}

.main{
    margin: var(--space-md);
}
h2{
    font-family: "Playfair Display", serif;
    font-size: clamp(1rem, 5vw, 2rem);
    color: var(--text);
    font-weight: 400;
}
p{
    font-family: "Playfair Display", serif;
    font-size: clamp(0.7rem, 3vw, 1.5rem);
    color: #00143A ;
    font-weight: 400;
    max-width: 60ch;
    line-height: 1.6;
    
}
#about_grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:clamp(1rem, 1.5vw, 2rem);
    max-width:1100px;
    padding:2rem var(--left-spacing) ;
}
@media(max-width:768px){
    #about_grid{
    grid-template-columns: 1fr;}
    
}
#aboutText{
    font-size:clamp(1rem,1.5vw,2.7rem)
}
#label{
    margin: 0px;
    font-size: clamp(1rem,2vw,3rem);
}
#Evan{
    font-size: clamp(1.4rem,2.5vw,3rem);
    margin-top: 0;
}
/*NavBar with flexbox*/
.navbar{
    padding-left: var(--left-spacing);
    display: flex;
    gap: 2rem;
    margin-top: clamp(1rem,2vw,3rem);
    margin-bottom: clamp(1rem,2vw,3rem);

}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: var(--space-sm);
        align-items: flex-start;
        align-self: left;
        gap:var(--space-xs);
    }
}
.link{
    color: var(--accent);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: clamp(1rem,1.7vw,2rem);
    text-decoration: none;
    position: relative;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}

#nav_desc{
    font-size:clamp(1.2rem,2.5vw,3rem);
    padding-left: var(--left-spacing);
}

    
.link:hover,
.link:focus-visible{
    background-color: var(--accent);
    color: white; /* or keep var(--text) if the contrast is good */
}


/*flex box for the desk */
.desk {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    margin: 2rem clamp(1rem,2vw, 3rem);
  
}

.card {
    flex: 1 1 300px;

    padding: 1.5rem;
    border-radius: 12px;
    background:var(--accent2);
    
    
}
#desk{
    text-align: center;
    font-size: clamp(1.7rem, 2.7vw, 4rem);
}
.desk_subheading{
    color:var(--bg);
    max-width: 30ch;
    font-size: clamp(1rem, 1.7vw, 2rem);
    padding:1rem;
    margin: 0;
}
.desk_heading{
    color: var(--bg);
    max-width: 30ch;
    font-family:"Helvetica Neue", Helvetica, sans-serif ;
    font-size: clamp(1.7rem, 2.7vw, 3rem);
    padding:1rem;
    margin: 0;
}
#desk_desc{
    padding-left:2rem ;
    font-size: clamp(1.2rem, 1.7vw, 3rem);
   
}
.featuredCard{
     flex: 3 1 300px;

    padding: 1.5rem;
    border-radius: 12px;
    background: var(--accent2);
}
/*Footer grid*/
footer{
    padding: 2rem;
    color:var(--bg) ;
    background-color: #00143A ;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    font-size: clamp(0.9rem, 1.2vw, 2rem);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:clamp(1rem, 1.5vw, 2rem);
    max-width:100%;
    padding:2rem var(--left-spacing) ;
    align-self: center;
    text-align: center;
   
}

@media (max-width:768px){
    footer{
        display: grid;
        grid-template-columns: 1fr;
        gap:clamp(1rem, 1.5vw, 2rem);
        max-width:1100px;
        padding:2rem 2rem;
        text-align: left;
    }
}
.footerGridElements{
    text-align: center;
}



